aclocal.m4
autom4te*
config.cache
config.log
config.status
libtool
Makefile
Makefile.rules
sdl2-config
sdl2-config.cmake
sdl2-config-version.cmake
sdl2.pc
SDL2.spec
build
gen
Build
buildbot
/VERSION.txt
dist

*.so
*.so.*
*.dll
*.exe
*.o
*.obj
*.res
*.lib
*.a
*.la
*.dSYM
*,e1f
*,ff8
*.lnk
*.err
*.exp
*.map
*.orig
*~
*.swp
*.tmp
*.rej

# for CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
SDL2ConfigVersion.cmake
.ninja_*
*.ninja

# for CLion
.idea
cmake-build-*

# for Xcode
*.mode1*
*.perspective*
*.pbxuser
(^|/)build($|/)
.DS_Store
xcuserdata
*.xcworkspace

# for QtCreator
CMakeLists.txt.user
build*/
*.pro.user*

# for Visual C++
.vs
Debug
Release
*.user
*.ncb
*.suo
*.sdf
VisualC/tests/controllermap/axis.bmp
VisualC/tests/controllermap/button.bmp
VisualC/tests/controllermap/controllermap.bmp
VisualC/tests/controllermap/controllermap_back.bmp
VisualC/tests/loopwave/sample.wav
VisualC/tests/testautomation/CompareSurfaces0001_Reference.bmp
VisualC/tests/testautomation/CompareSurfaces0001_TestOutput.bmp
VisualC/tests/testgamecontroller/axis.bmp
VisualC/tests/testgamecontroller/button.bmp
VisualC/tests/testgamecontroller/controllermap.bmp
VisualC/tests/testgamecontroller/controllermap_back.bmp
VisualC/tests/testoverlay2/moose.dat
VisualC/tests/testrendertarget/icon.bmp
VisualC/tests/testrendertarget/sample.bmp
VisualC/tests/testscale/icon.bmp
VisualC/tests/testscale/sample.bmp
VisualC/tests/testsprite2/icon.bmp
VisualC/tests/testyuv/testyuv.bmp
VisualC/visualtest/icon.bmp
VisualC/visualtest/testquit.actions
VisualC/visualtest/testquit.config
VisualC/visualtest/testquit.exe
VisualC/visualtest/testquit.parameters
VisualC/visualtest/testsprite2.exe
VisualC/visualtest/testsprite2_sample.actions
VisualC/visualtest/testsprite2_sample.config
VisualC/visualtest/testsprite2_sample.parameters
VisualC-GDK/**/Layout
VisualC-GDK/shaders/*.h

# For PS3
PS3/SDL/PS3_Debug
PS3/SDL/PS3_Release
PS3/*.sdf
PS3/*.suo
PS3/*.opensdf
PS3/SDL/*.vcxproj.user
external/flac-1.4.3/PS3/PS3_Debug/
external/flac-1.4.3/PS3/PS3_Release/
external/jpeg-9f/PS3/PS3_Debug/
external/jpeg-9f/PS3/PS3_Release/
external/libmodplug-0.8.9.0/PS3/PS3_Debug/
external/libmodplug-0.8.9.0/PS3/PS3_Release/
external/libogg-1.3.5/PS3/PS3_Debug/
external/libogg-1.3.5/PS3/PS3_Release/
external/libpng-1.6.44/projects/ps3/PS3_Debug/
external/libpng-1.6.44/projects/ps3/PS3_Release/
external/libvorbis-1.3.7/PS3/PS3_Debug/
external/libvorbis-1.3.7/PS3/PS3_Release/
external/mpg123-1.32.10/PS3/PS3_Debug/
external/mpg123-1.32.10/PS3/PS3_Release/
external/opus-1.5.2/PS3/PS3_Debug/
external/opus-1.5.2/PS3/PS3_Release/
external/opusfile-0.12/PS3/PS3_Debug/
external/opusfile-0.12/PS3/PS3_Release/
external/tiff-4.7.0/PS3/PS3_Debug/
external/tiff-4.7.0/PS3/PS3_Release/
external/zlib-1.3.1/PS3/PS3_Debug/
external/zlib-1.3.1/PS3/PS3_Release/
extra/SDL2_image-2.0.5/PS3/PS3_Debug/
extra/SDL2_image-2.0.5/PS3/PS3_Release/
extra/SDL2_mixer-2.0.4/PS3/PS3_Debug/
extra/SDL2_mixer-2.0.4/PS3/PS3_Release/
extra/SDL2_net-2.0.1/PS3/PS3_Debug/
extra/SDL2_net-2.0.1/PS3/PS3_Release/
extra/SDL2_ttf-2.0.13/PS3/PS3_Debug/
extra/SDL2_ttf-2.0.13/PS3/PS3_Release/

# for Android
android-project/local.properties
android-project/.gradle/

test/checkkeys
test/checkkeysthreads
test/controllermap
test/loopwave
test/loopwavequeue
test/testatomic
test/testaudiocapture
test/testaudiohotplug
test/testaudioinfo
test/testautomation
test/testbounds
test/testcustomcursor
test/testdisplayinfo
test/testdraw2
test/testdrawchessboard
test/testdropfile
test/testerror
test/testevdev
test/testfile
test/testfilesystem
test/testgamecontroller
test/testgeometry
test/testgesture
test/testgl2
test/testgles
test/testgles2
test/testhaptic
test/testhittesting
test/testhotplug
test/testiconv
test/testime
test/testintersections
test/testjoystick
test/testkeys
test/testloadso
test/testlocale
test/testlock
test/testmessage
test/testmouse
test/testmultiaudio
test/testnative
test/testoverlay2
test/testplatform
test/testpower
test/testqsort
test/testrelative
test/testrendercopyex
test/testrendertarget
test/testresample
test/testrumble
test/testscale
test/testsem
test/testsensor
test/testshader
test/testshape
test/testsprite2
test/testspriteminimal
test/teststreaming
test/testsurround
test/testthread
test/testtimer
test/testurl
test/testver
test/testviewport
test/testvulkan
test/testwm2
test/testyuv
test/torturethread

builddir/
!build-scripts/
debian/*.debhelper.log
debian/*.substvars
debian/*.tar.gz
debian/.debhelper/
debian/files
debian/libsdl*/
debian/tmp/
